@import "./styleSheets/text.css";
@import "./styleSheets/reset.css";
@import "./styleSheets/components.css";

.intl-tel-input {
  width: 100%;
}
@keyframes textChange {
  0% {
    content: "Easy";
  }
  50% {
    content: "Simple";
  }
  75% {
    content: "Stress Free";
  }
  100% {
    content: "Easy";
  }
}

@media screen and (max-width: 450px) {
  header {
    min-height: 100vh;
    background: url(./Images/hero-image.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header span {
    color: #ace7e9;
  }
  h1 span::before {
    content: "";
    animation: textChange 6s infinite linear;
  }

  .section .card {
    border: 3px solid white;
  }
  .testimonials img {
    width: 20%;
  }
  .swiper-slide {
    margin: 0 1rem;
  }
  .contact input {
    margin: 1.5rem 0;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid black;
  }
  textarea {
    width: 100%;
    border: 1px solid black;
    padding: 1rem;
  }
  footer ul {
    list-style-type: none;
  }
}
